body {
  margin: 0;
}

div {
  background-color: #cf56a1;
}

h1 {
  margin: 0;
}


.middle-container, .bottom-container {
  height: 200px;
  width:200px;
}

.middle-container {
  background-color: red;
}

.bottom-container {
  background-color: blue;
}
